.login-form {
  max-width: 300px;
  position: relative;
  top: 45%;
  left: 50%;
  margin: -180px 0 0 -180px;
  width: 360px;
  height: 260px;
  padding: 30px;
  box-shadow: 0 0 100px rgba(0, 0, 0, 0.08);
}
.login-form-forgot {
  float: right;
}
.form-button {
  width: 100%;
}
.form-item {
 height: 20px
}
.Form-heading {
  top: 200px;
}
.w3-tangerine {
  position: relative;
  font-family: "Tangerine", serif;
  font-size:150px;
  font-style: italic;
  font-style:bold  
}
.sider{
  height: relative;
}